@media (min-width: 1200px) {
    .modal-lg{
        width:1200px;
    }
}

.span-required:after {
    content: " *";
    color: red;
}

form .form-group .text-danger{
    color:red;
    font-size:13px;
}
    form .form-group .text-danger:before {
        font-family: FontAwesome;
        content: "\f00d";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
    }


    /* qui trình tạo đơn hàng */
.btn-group.btn-breadcrumb .btn{
    cursor:default;
}
.btn-group.btn-breadcrumb .btn-success {
    color: #fff;
}

/*wrap table*/
.wrap-table {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #eee;
}
